.loginscreen.middle-box {
    width: 300px;
}
.middle-box {
    max-width: 400px;
    z-index: 100;
    margin: 0 auto;
    padding-top: 40px;
}
.current-user-link { margin-right: 20px; }

@media (max-width: 768px) {
	.loggedin-user-image {
		height: 20px; 
		width: 20px;
	}
}

@media (min-width: 769px) {
	.loggedin-user-image {
		height: 40px; 
		width: 40px;
	}
}

.list-group.transparent>li { background-color: transparent; border: none; border-bottom: 2px solid white; }
.list-group.transparent>li:first-child { border-top: 2px solid white; }
.list-group-item a.ticket-thumbnail { text-decoration: none; color: white; }
.list-group-item a.ticket-thumbnail:hover { color: #ccc; }