html, body {
    height: 100%;
    background: #333;
    background-image: url(/images/Ferguson_Solutions.jpg);
    background-repeat: no-repeat;
    background-size: cover cover;       
}
.logo-strip {
    background: #004568;
    padding: 2vh;
}
.logo img {
    max-height: 100px;
}
#main {
    position: relative;
}
img, object, embed {
    max-width: 100% !important;
}
input:focus::-webkit-input-placeholder 
{
    color: transparent;
}

/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animation ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

/* page-specific styles */
.login {
    color: #fff;
    padding-top: 125px;
}
@media (max-height: 650px) {
    .login {
        padding-top: 50px;
    }
}
@media (max-height: 450px) {
    .login {
        padding-top: 50px;
    }
}